@using InsuranceApp.Models
@model InsuranceApp.Models.Insurance

@{
    ViewData["Title"] = "Upravit pojistnou smlouvu";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="form-group col-md-6 py-2 col-md-6 py-2">
            <label for="Pojistenec" class="control-label">Pojištěnec</label>
            <input id="Pojistenec" class="form-control" value="@ViewBag.Insured.Surname @ViewBag.Insured.Name" disabled />
            <input type="hidden" asp-for="InsuredId" value="@ViewBag.Insured.Id" />
        </div>
        <div class="form-group col-md-6 py-2 col-md-6 py-2"></div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 py-2 col-md-6 py-2">
            <label asp-for="Type" class="control-label"></label>
            <select asp-for="Type" class="form-control" asp-items="Insurance.GetInsuranceTypes()"></select>
        </div>
        <div class="form-group col-md-6 py-2 col-md-6 py-2"></div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 py-2">
            <label asp-for="Subject" class="control-label"></label>
            <input asp-for="Subject" class="form-control" />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6 py-2">
            <label asp-for="Amount" class="control-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 py-2">
            <label asp-for="DurationSince" class="control-label"></label>
            <input asp-for="DurationSince" class="form-control" />
            <span asp-validation-for="DurationSince" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6 py-2">
            <label asp-for="DurationTill" class="control-label"></label>
            <input asp-for="DurationTill" class="form-control" />
            <span asp-validation-for="DurationTill" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group d-flex justify-content-center flex-wrap my-4">
        <input type="submit" value="Uložit" class="btn btn-primary" />
        <a class="btn btn-warning mx-2" onclick="javascript:history.back();">Zpět</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
